/*h1, h2 {
    margin-bottom: .6em;
}*/

blockquote {
	font-style: italic;
}

table {
	border-collapse:collapse;
}

code {
	font-size : 1.2em;
}

var {
	font-style : italic;
}

img.block {
	display : block;
}

img.left {
	margin: 0 15px 0 0;
}

img.right {
	margin: 0 0 0 15px;
}

p img.icon {
    vertical-align:  text-bottom;
    display: inline;
}

i.pdf, i.ps, i.pdfi, i.html {
	display: inline-block;
	width: 64px;
	height: 64px;
	font-size: 0;
	text-indent: -9999px;
	vertical-align: text-bottom;
	background-position: center;
	background-size: 64px 64px;
}
p > i.pdf, p > i.ps, p > i.pdfi, p > i.html,
p > a > i.pdf, p > a > i.ps, p > a >  i.pdfi, p > a > i.html {
	width: 24px;
	height: 24px;
	background-size: 24px 24px;
}
#archiv i.pdf, #archiv i.ps, #archiv i.pdfi, #archiv i.html  {
	width: 48px;
	height: 48px;
	background-size: 48px 48px;
}

i.pdf {
	background-image: url(../pic/pdficon.svg);
	background-image: /*\**/url(../pic/pdficon.png)\9;
}
i.pdfi {
	background-image: url(../pic/pdfiicon.svg);
	background-image: /*\**/url(../pic/pdfiicon.png)\9;
}
i.ps {
	background-image: url(../pic/psicon.svg);
	background-image: /*\**/url(../pic/psicon.png)\9;
}
i.html {
	background-image: url(../pic/htmlicon.svg);
	background-image: /*\**/url(../pic/htmlicon.png)\9;
}

#zadani dl {
	margin: 0px
}

#zadani dt {
	margin-top: 1.5em;
	margin-bottom : .5em;
	font-weight : bold;
}
#zadani dd {
	margin-left: 0px;
}

#zadani dd li {
	list-style-type : lower-alpha;
	padding-left: 0px;
}

#photoGallery div.photoContainer {
	margin: 3px;
	padding: 0px;
	border:1px solid #d0d8dc;
	float: left;
}

#photoGallery div.photoContainer a {
	display: block;
	margin:2px;
	padding:0px;
	width: 175px;
	height: 175px;
	text-align: center;
	overflow:hidden;
}

#photoGallery div.photoContainer a img {
	border:none;
	padding: 0;
}

#photoGallery div.photoContainer a:hover {
	background:#d0d8dc;
}

.mapa {
	position: relative;
	width: 470px;
	height: 269px;
}
.mapa img {
	position: absolute;
}

.mapa .kraj {
	display: none;
}

table.zadani td {
    text-align: center;
	vertical-align: middle !important;
}
table.zadani td br + small {
	display: block;
	margin-top: 5px;
}

.texty-arch td {
	position: relative;
}
.texty-arch td strong {
	font-size: 1.5em;
	display: block;
	font-weight: normal;
}
.texty-arch td .cat {
	font-size: 0.9em;
	font-style: italic;
	display: block;
	position: absolute;
	top: 8px;
	right: 8px;
}

.ukfo img {
	border: 2px solid #eee;
}
@media (max-width: 767px) {
.ukfo .col-xs-4 {
	float: right;
}
.ukfo img {
	width: 100px;
	float: right;
}
}



/* Nejbližší nadcházející termín (zvýrazňuje js/fo.js) */
tr.aktualni td, span.aktualni {
	font-weight: bold;
}
