/*h1, h2 {
    margin-bottom: .6em;
}*/

blockquote {
	font-style: italic;
}

table {
	border-collapse:collapse;
}

code {
	font-size : 1.3em;
}

var {
	font-style : italic;
}

/*div.center
{
	text-align : center;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}*/

table.centered {
	text-align: left;
	margin : 0 auto 1.6em auto;
}

img.block {
	display : block;
}

img.left {
	margin: 0 15px 0 0;
}

img.right {
	margin: 0 0 0 15px;
}

p img.icon {
    vertical-align:  text-bottom;
    display: inline;
}


#zadani dl {
	margin: 0px
}

#zadani dt {
	margin-top: 1.5em;
	margin-bottom : .5em;
	font-weight : bold;
}

#zadani dd {
	margin-left: 0px;
}

#zadani dd li {
	list-style-type : lower-alpha;
	padding-left: 0px;
}

#photoGallery div.photoContainer {
	margin: 3px;
	padding: 0px;
	border:1px solid #d0d8dc;
	float: left;
}

#photoGallery div.photoContainer a {
	display: block;
	margin:2px;
	padding:0px;
	width: 175px;
	height: 175px;
	text-align: center;
	overflow:hidden;
}

#photoGallery div.photoContainer a img {
	border:none;
	padding: 0;
}

#photoGallery div.photoContainer a:hover {
	background:#d0d8dc;
}

.mapa {
	width: 470px;
	height: 269px;
	position: absolute;
	margin-left: -20px;
}
.mapa img {
	position: absolute;
}

.mapa .kraj {
	/*display: none;*/
}

table.zadani {
    border-collapse: collapse;
}

table.zadani th, table.zadani td {
    padding: 4px;
}

table.zadani td {
    text-align: center;
}