div.center
{
	text-align : center;
	margin: 0px;
	padding: 0px;
}

table.centered {
	text-align: left;
	margin : 0 auto;
}

#content a {
	color: Blue;
	text-decoration:none;
}

#content a:visited {
	color: Blue;
	text-decoration:none;
}

#content a:hover {
	color: Blue;
	text-decoration: underline;
}

input.text
{
	font-size:smaller;
	background-color: White;
	border: 1px solid Black;
}

input.button
{
	font-size:smaller;
	color: White;
	background-color: #CC6666;
	border:1px solid black;
	font-weight:bold;
	cursor : hand;
}

textarea
{
	background-color: White;
	border: 1px solid Black;
}

select
{
	font-size:smaller;
	background-color: White;
	border: 1px solid Black;
}

#counter table {
	border : 1px solid Black;
	border-collapse : collapse;
	padding : 0px, 0px, 0px, 0px;
	_position : absolute;
}

#counter td {
	padding : 0px 5px 1px 5px;
	margin: 0px 0px 0px 0px;
	text-align : left;
}

#content P,OL,UL,DT {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top : 7px;
}

#content p,dt {
  padding-left: 0px;
  padding-right:0px;
}

#content table, #content td, #content th {
	border : 1px solid Black;
	border-collapse : collapse;
}

#content th {
	background-color :#CC6666;
	color : White;
	padding: 5px;
}

.archive-post-date {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    width: 65px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
	background-color : #CC6666;
	color : White;
	font-size : larger;
	margin : 0px 5px 0px 0px;
	text-align : center;
	padding : 2px 5px;
	border : 1px solid #996666;
    float: left;
}

.archive-post-title {
    position: relative;
	margin : 0px;
	border : 1px solid #996666;
    -moz-border-radius: 3px;
    border-radius: 3px;
	padding : 5px 7px;
}

.archive-post-title h3 {
    margin: 5px 0 0;
    height: 30px;
}

.archive-post-title .quiet {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin : 0px;
	border-top : 1px solid #996666;
	font-size : smaller;
	text-align: left;
	padding : 3px 5px 12px;
}

.archive-post-title .quiet a.link {
	color : Black;
	float : left;
}

.archive-post-title .quiet a.sign {
	font-style : italic;
	color : Black;
	text-decoration : none;
	float : right;
}

.archive-post-title .post-date {
    position: absolute;
    right: 5px;
    top: 3px;
    font-size: smaller;
}

#forum td, #forum th {
	border : 0px none;
}

#forum table {
	border : 2px solid #996666;
}

#prispevky table {
	text-align: left;
	margin : 0 auto;
	border-collapse: separate;
	border : 0px none #996666;
	background-color : transparent;
	margin-top : 15px;
	width : 100%;
}

#prispevky td.cara {
	border-bottom : 2px solid #996666;
	border-left : 2px solid #996666;
	border-right-style : none;
	border-top-style : none;
}

#prispevky td.text_prispevku {
	border : 2px solid #996666;
	padding : 0 0 0 0;
}

#forum dl {
	margin : 0px;
}

#forum dt {
	background-color : #CC6666;
	color : White;
	padding-bottom : 2px;
	padding-left : 5px;
	padding-right : 5px;
	padding-top : 2px;
	margin : 0px;
}

#forum dt a {
	color : White;
	text-decoration : none;
}

#forum dd {
	margin : 0 0 0 0;
	padding-bottom : 5px;
	padding-left : 7px;
	padding-right : 7px;
	padding-top : 5px;
}

#forum dd.reagovat {
	margin : 0 0 0 0;
	text-align : right;
	padding-top : 0px;
	padding-right : 7px;
	padding-left : 7px;
	padding-bottom : 2px;
	border-top : 1px dashed #996666;
}

.chyba_vstupu {
	color : Red;
	text-align : center;
}

code {
	font-size : 100%;
}

var {
	font-style : italic;
}

#zadani dl {
	margin: 0px
}

#zadani dt {
	margin-top: 1.5em;
	margin-bottom : .5em;
	font-weight : bold;
}

#zadani dd {
	margin-left: 0px;
}

#zadani dd li {
	list-style-type : lower-alpha;
	padding-left: 0px;
}

#vysledky dt {
	background-color : #EEBBBB;
	font-style : italic;
}

.vysledkovka td:last-child {
	font-weight: bold;
}