@import "content.css";

.vysledkovka {
	width : 100%;
}
#fixed
{
	display : none;
}
#flowing
{
}
#fixed, #flowing
{
}
#pageFrameMask
{
	display : none;
}
#leftColumn
{
	display : none;
}
#contentColumn
{
	padding-left: 0px;
}
#leftColumnMask, #leftColumn
{
	display : none;
}
#footer
{
	display : none;
}
.hide
{
	display: none;
}

#bottomColorMask
{
	display : none;
}

.hnav
{
	display : none;
}

body
{
	font-family: arial, helvetica, sans-serif;
	font-size : x-small;
	voice-family : "\"}\"";
	voice-family : inherit;
	font-size : small;
}
