*~
fo.sql
configure.php*
.buildpath
.settings
.project
webalizer/
_\!*/
kvary/propozice/
praha/fotky/
archiv/celost/41a/
archiv/celost/63/photos/
archiv/celost/63/thumbnails/
archiv/mfo/*/*prezentace.pdf
/google*
/vendor/
/dist/
texty/texty.tar
texty/matematika/cd.tar.gz
