*~
fo.sql
configure.php*
.buildpath
.settings
.project
webalizer/
_\!*/
kvary/propozice/
praha/fotky/
files/archiv/celost/41a/
files/archiv/celost/63/photos/
files/archiv/celost/63/thumbnails/
files/archiv/mfo/*/*prezentace.pdf
/google*
/vendor/
/dist/
files/texty/texty.tar
files/texty/matematika/cd.tar.gz
.codex
/*.tar.gz
/*.bundle
