*~
fo.sql
configure.php*
.buildpath
.settings
.project
upload/
webalizer/
_\!*/
kvary/propozice/
praha/fotky/
tana/photos_*/**/*.jpg
archiv/celost/*/photos/
archiv/celost/*/thumbnails/
archiv/celost/41a/
archiv/mfo/*/*prezentace.pdf
/google*
/vendor/
/dist/
