<IfModule mod_rewrite.c>
  RewriteEngine on

  RewriteBase /kvary

  RewriteCond %{HTTP_HOST} !^kvary
  RewriteRule ^(.*)$ http://kvary.fyzikalniolympiada.cz/$1 [R=301,L,QSA]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !(.php)
  RewriteRule ^(.*)$ index.php/$1 [L,QSA]
 
</IfModule> 
