body
{
	font-family: Verdana, "'Arial CE'", Aria, sans-serif;
	font-size: medium;
	_font-size: small;
	background: #E6AC73;
	color: Black;
	margin: 0px;
	padding: 0px;
	width: 60em;
	margin: 0px auto 0px auto;
}

div.center
{
	text-align : center;
	margin: 0px;
	padding: 0px;
}

table.centered {
	text-align: left;
	margin : 0 auto;
}

a {
	color: White;
	text-decoration:none;
}

a:visited {
	color: White;
	text-decoration:none;
}

a:hover {
	color: White;
	text-decoration: underline;
}

input.text
{
	font-size:smaller;
	background-color: #E6DACF;
	border: 1px solid Black;
}

input.button
{
	font-size:smaller;
	color: White;
	background-color: #806040;
	border:1px solid black;
	font-weight:bold;
	cursor : hand;
}

textarea
{
	background-color: #E6DACF;
	border: 1px solid Black;
}

select
{
	font-size:smaller;
	background-color:#E6DACF;
	border: 1px solid Black;
}

#page_title {
	margin : 0px 0px 0px 0px;
	padding : 10px 0px 10px 0px;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align : center;
	color : #806040;
	font-size : 42px;
}

#menu {
	background-color : #BF7830;
	color : White;
	font-weight : normal;
	text-align : center;
	padding : 4px 0px 4px 0px;
	margin : 5px 0px 10px 0px;
}

#menu ul {
	list-style-type : none;
	padding : 0px 0px 0px 0px;
	margin : 0px 0px 0px 0px;
}
#menu ul ul {
	display: none
}

#menu ul li {
	display : inline;
}

#menu ul li a {
	padding-left : 13px;
	padding-right : 13px;
	color : White;
}

#menu ul li a:hover {
	text-decoration : underline;
}

#menu ul li a:visited {
	color : White;
}

#left_column {
	float : left;
}

#submenu {
	color : White;
	font-weight : normal;
	font-size : smaller;
	text-align : left;
	padding : 0px 0px 0px 0px;
	margin : 0px 0px 0px 0px;
	background-color : #BF7830;
}

#submenu ul {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin : 0px 0px 0px 0px;
	padding : 15px 10px 50px 10px;
	width : 170px;
	list-style-type : none;
	line-height : 1.5em;
}

#submenu ul li {
	display : block;
}

#submenu ul li a {
	color : White;
}

#submenu ul li a:hover {
	text-decoration : underline;
	/*color : #FFD700;*/
}

#submenu ul li a:visited {
	/*color : White;*/
}

.selected {
	font-weight : bold;
}

#buttons {
	font-weight : normal;
	text-align : left;
	font-size : smaller;
	padding : 0px 0px 0px 0px;
	margin : 0px 0px 0px 0px;
	float : left;
}

#buttons ul {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding : 0px 0px 0px 0px;
	margin : 10px 10px 10px 10px;
	list-style-type : none;
}

#buttons ul li {
	display : block;
}

#buttons table {
	font-size : small;
	_font-size : x-small;
	border : 2px solid #806040;
	border-collapse : collapse;
	padding : 0px, 0px, 0px, 0px;
	/*float : right;*/
}

#buttons td {
	padding : 0px 5px 1px 5px;
	margin: 0px 0px 0px 0px;
	text-align : left;
}

#title {
	margin : 0px 0px 0px 170px;
	padding : 0px 20px 0px 15px;
}

#title h1 {
	font-size : 30px;
	color : White;
	vertical-align : bottom;
	font-family : "Arial CE", Aria, sans-serif;
	text-align : left;
	margin : 0px 0px 0px 0px;
	padding : 5px 0px 10px 20px;
}

#content {
	margin : 0px 0px 0px 170px;
	padding : 15px 20px 20px 20px;
	font-size : smaller;
	vertical-align : top;
	text-align : left;
	border-top : 1px solid #806040;
	_width: 100%;
	_height : 250px;
	min-height : 250px;
}

#content p,ol,ul,dt {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top : 7px;
}

#content p,dt {
  padding-left: 0px;
  padding-right:0px;
}

#content table, #content td, #content th {
	font-size : small;
	_font-size : x-small;
	border : 1px solid Black;
	border-collapse : collapse;
}

#content th {
	background-color : #806040;
	color : White;
	padding: 5px;
}

.post {
    position: relative;
}

.archive-post-date {
	border : 1px solid #806040;
    border-top-width: 2px;
    border-left-width: 2px;
    position: absolute;
    width: 5em;
	background-color : #BF7830;

}

.archive-post-date div {
    text-align: center;
}

.archive-post-title {
	margin : 0px 0px 0px 0px;
	border : 2px solid #806040;
	padding : .5em 1em;
}

.archive-post-title h3 {
    margin-top: 0;
    margin-left: 4em;
}

.archive-post-title .post-date {
	margin : 0px;
	border-top : 1px solid #D5A06C;
	font-size : smaller;
	text-align: left;
	padding : 0px;
}

.archive-post-title .quiet {
	font-size : smaller;
	float : right;
}

#forum td, #forum th {
	border : 0px none;
}

#forum table {
	border : 2px solid #806040;
}

#prispevky table {
	text-align: left;
	margin : 0 auto;
	border-collapse: separate;
	border : 0px none #806040;
	background-color : transparent;
	margin-top : 15px;
	width : 100%;
}

#prispevky td.cara {
	border-bottom : 2px solid #806040;
	border-left : 2px solid #806040;
	border-right-style : none;
	border-top-style : none;
}

#prispevky td.text_prispevku {
	border : 2px solid #806040;
	padding : 0 0 0 0;
}

#forum dl {
	margin : 0px;
}

#forum dt {
	background-color : #BF7830;
	color : White;
	padding-bottom : 2px;
	padding-left : 5px;
	padding-right : 5px;
	padding-top : 2px;
	margin : 0px;
}

#forum dt a {
	color : White;
	text-decoration : none;
}

#forum dd {
	margin : 0 0 0 0;
	padding-bottom : 5px;
	padding-left : 7px;
	padding-right : 7px;
	padding-top : 5px;
}

#forum dd.reagovat {
	margin : 0 0 0 0;
	text-align : right;
	padding-top : 0px;
	padding-right : 7px;
	padding-left : 7px;
	padding-bottom : 2px;
	border-top : 1px dashed #806040;
}

.chyba_vstupu {
	color : Red;
	text-align : center;
}

address {
	background-color : #BF7830;
	text-align : center;
	color : White;
	font-size : smaller;
	padding : 2px 0 2px 0;
}

address a {
	color : White;
	text-decoration : none;
}

address a:hover {
	color : White;
	text-decoration : none;
}

#archiv_vysledky dt {
	font-weight : bold;
}

#archiv_vysledky dd {
	border : 1px solid #806040;
	padding : 3px 8px 3px 8px;
	border-left-style : none;
	border-right-style : none;
	margin-top : 4px;
}
